header {
  background: #ffffff;
  background:#edf3f7;
}
header.mod-1 {
  background: url(../images/bg-head.jpg) no-repeat center;
  background-size: cover;
}

.page-header {
    padding-bottom: 10px;
    margin: 44px 0 22px;
    border-bottom: 1px solid #cbcbcb;
}

a:hover{
  text-decoration:none
}
ul,
ol {
    padding: 0;
    list-style: none;
    margin: 0;
}
ul li,
ol li {
    padding: 0;
    list-style: none;
    margin: 0;
}
ul li a,
ol li a {
    padding: 0;
    list-style: none;
    margin: 0;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
/*========================================================
                     CONTENT  Section
=========================================================*/
main {
   /* background: #f7f5ed; */
   backgroud:#edf3f7; 
}
main section.cargocn-mod-1{
  background: url(../images/cargocn_product.jpg) no-repeat center;
  background-size: cover;
} 
.stuck_container {
  background: transparent;
}
.isStuck {
  text-align: left;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.9);
}
.lt-ie9 .isStuck {
  background: none;
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#00000000');
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#00000000');
  zoom: 1;
}
.isStuck .navbar {
  padding-top: 6px;
}
.isStuck .navbar li a:after {
  height: 0;
}
.isStuck .navbar .dropdown-menu {
  margin-top: 25px;
}
.isStuck .navbar .dropdown-menu .dropdown-menu {
  margin-top: 0;
}
.isStuck .navbar-header {
  display: inline-block;
  float: none;
}
@media only screen and (max-width: 992px) {
  .isStuck {
    display: none !important;
  }
}
.isStuck .sf-menu > ul {
  top: 70px;
}
header.mod-1 .well-sm {
  padding-top: 40px;
}
@media (min-width: 992px) {
  header.mod-1 .well-sm {
    padding-top: 50px;
    padding-bottom: 39px;
  }
}
header .well-sm {
  padding-top: 20px;
}
@media (min-width: 992px) {
  header .well-sm {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.well-sm {
   padding: 0px; 
  border-radius: 3px;
}
/*==================     ToTop     ======================*/

.mobile .toTop,
.tablet .toTop {
  display: none!important;
}
.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.navbar {
  position: relative;
  min-height: 75px;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .navbar {
    border-radius: 0;
  }
}
.navbar-static-top {
  z-index: 1000;
}
@media (min-width: 768px) {
  .navbar-static-top {
    border-radius: 0;
  }
}
.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}
@media (min-width: 768px) {
  .navbar-fixed-top,
  .navbar-fixed-bottom {
    border-radius: 0;
  }
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}
.navbar-fixed-bottom {
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0;
}
.navbar-header {
  position: relative;
  z-index: 9999;
}
@media (min-width: 768px) {
  .navbar-header {
    float: left;
  }
}
.navbar-brand {
  line-height: 30px;
}
.navbar-brand a {
  font-family: 'Microsoft YaHei','Montserrat', sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 0.08em;
}
.navbar-brand a span {
  padding: 3px 12px 3px;
  border: 3px solid #ffffff;
  margin-right: 7px;
}

/* .navbar-brand a img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}  */
.navbar-brand a:hover,
.navbar-brand a:focus {
  color: #ffffff;
  text-decoration: none;
}
@media (min-width: 768px) {
  .navbar1 {
    margin: 0;
    margin-top: 22px;
    font-family: 'Microsoft YaHei','Noto Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
  }
  .navbar1> li {
    float: left;
  }
  .navbar1 > li > a {
    position: relative;
    letter-spacing: 0.08em;
    display: block;
    text-transform: uppercase;
  }
  .navbar1 > li > a:after {
    width: 0;
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
    -moz-transition: 0.35s all ease;
    -webkit-transition: 0.35s all ease;
    -o-transition: 0.35s all ease;
    transition: 0.35s all ease;
  }
  .navbar1 > li + li {
    margin-left: 25px;
  }
}
@media (min-width: 768px) and (max-width: 767px) {
  .navbar1 > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    font-style: italic;
  }
}
@media (min-width: 768px) {
  .navbar-left {
    float: left;
  }
  .navbar-right {
    float: right;
    margin-right: 0;
  }
  .navbar-right ~ .navbar-right {
    margin-right: 0;
  }
}
.navbar-default {
  background-color: transparent;
  border-color: rgba(255, 250, 250, 0);
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-default .navbar1 > li > a {
  color: #d3d1c8;
  font: 17px/34px Microsoft YaHei
}
.navbar-default .navbar1 > li > a:after {
  /* background: #e74e3e; */
  background:#f1c40f;
}
.navbar-default .navbar1 > li > a:focus {
  /* color: #d3d1c8; */
  color:#f1c40f;
}
.navbar-default .navbar1 > li > a:focus:after {
  width: 100%;
}
.navbar-default .navbar1 > li > a:hover {
 /* color: #e74e3e; */
  // color:#f1c40f;
  background-color: transparent;
}
.navbar-default .navbar1 > li > a:hover:after {
  width: 100%;
}
.navbar-default .navbar1 > .active > a,
.navbar-default .navbar1 > .sfHover > a,
.navbar-default .navbar1 > .active > a:hover,
.navbar-default .navbar1 > .sfHover > a:hover,
.navbar-default .navbar1 > .active > a:focus,
.navbar-default .navbar1 > .sfHover > a:focus {
  /* color: #e74e3e; */
  color:#f1c40f;
  background-color: transparent;
}
.navbar-default .navbar1 > .active > a:after,
.navbar-default .navbar1 > .sfHover > a:after,
.navbar-default .navbar1 > .active > a:hover:after,
.navbar-default .navbar1 > .sfHover > a:hover:after,
.navbar-default .navbar1 > .active > a:focus:after,
.navbar-default .navbar1 > .sfHover > a:focus:after {
  width: 100%;
}
.navbar-default .navbar1 > .disabled > a,
.navbar-default .navbar1 > .disabled > a:hover,
.navbar-default .navbar1 > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-inverse {
  background-color: #222222;
  border-color: #080808;
}
.navbar-inverse .navbar-brand {
  color: #898989;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-inverse .navbar-text {
  color: #898989;
}
.navbar-inverse .navbar1 > li > a {
  color: #898989;
}
.navbar-inverse .navbar1 > li > a:hover,
.navbar-inverse .navbar1 > li > a:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-inverse .navbar1 > .active > a,
.navbar-inverse .navbar1 > .sfHover > a,
.navbar-inverse .navbar1 > .active > a:hover,
.navbar-inverse .navbar1 > .sfHover > a:hover,
.navbar-inverse .navbar1 > .active > a:focus,
.navbar-inverse .navbar1 > .sfHover > a:focus {
  color: #ffffff;
  background-color: #080808;
}
.navbar-inverse .navbar1 > .disabled > a,
.navbar-inverse .navbar1 > .disabled > a:hover,
.navbar-inverse .navbar1 > .disabled > a:focus {
  color: #444444;
  background-color: transparent;
}
@media (max-width: 767px) {
  .navbar1 {
    display: none;
  }
}

.footer{
        padding: 30px 0;
        background: #252525
}
.footer-top{
    padding-top: 44px;
   // padding-bottom: 44px;
    clear:both;

}

.footer-bottom{
    padding-top: 44px;
    padding-bottom: 44px;
    color: #636363;
    text-align: center
}

.rd-mobilemenu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9999999;
  text-align: left;
  -moz-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.rd-mobilemenu.active {
  right: 0;
}
.rd-mobilemenu_ul {
  position: fixed;
  top: -56px;
  left: 0;
  bottom: -56px;
  width: 240px;
  padding: 132px 0 76px;
  color: #666666;
  background: rgba(255, 255, 255, 0.97);
  font-size: 14px;
  line-height: 20px;
  overflow: auto;
  -moz-box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
  -moz-transform: translateX(-240px);
  -ms-transform: translateX(-240px);
  -o-transform: translateX(-240px);
  -webkit-transform: translateX(-240px);
  transform: translateX(-240px);
  -moz-transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  -moz-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}
.lt-ie9 .rd-mobilemenu_ul {
  background: none;
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff');
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff');
  zoom: 1;
}
.rd-mobilemenu.active .rd-mobilemenu_ul {
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.rd-mobilemenu_ul li.active > a {
  /* background: #e74e3e; */
  background: #f1c40f;
  color: #ffffff;
}
.rd-mobilemenu_ul a {
  display: block;
  padding: 14px 25px 16px;
}
.rd-mobilemenu_ul a.active {
  background: #f5f5f5;
  color: #2d2d2d;
}
.rd-mobilemenu_ul a:hover {
  /* background: #e74e3e; */
  background: #f1c40f;
  color: #ffffff;
}
.rd-mobilemenu_ul a .rd-submenu-toggle {
  position: absolute;
  top: 50%;
  right: 11px;
  margin-top: -17.5px;
  width: 32px;
  height: 32px;
  font: 400 10px 'FontAwesome';
  line-height: 32px;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #000000;
  -moz-transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
  z-index: 1;
  background: rgba(0, 0, 0, 0.1);
}
.rd-mobilemenu_ul a .rd-submenu-toggle:after {
  content: '\f078';
}
.rd-mobilemenu_ul a .rd-submenu-toggle:hover {
  background: #ffffff;
  color: #666666;
}
.rd-mobilemenu_ul a.rd-with-ul {
  position: relative;
}
.rd-mobilemenu_ul a.rd-with-ul.active .rd-submenu-toggle {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.rd-mobilemenu_ul ul a {
  padding-left: 40px;
  border: none;
  padding-top: 14px;
  padding-bottom: 16px;
}
.rd-mobilemenu_ul ul ul {
  border: none;
  box-shadow: none;
  background: transparent;
  padding: 0;
  left: 0;
  top: 0;
  text-align: left;
  transform: none;
}
.rd-mobilemenu_ul ul ul:before,
.rd-mobilemenu_ul ul ul:after {
  display: none;
}
.rd-mobilemenu_ul ul ul li {
  border: none;
  box-shadow: none;
}
.rd-mobilemenu_ul ul ul a {
  padding: 0;
  margin: 0;
  padding-left: 60px;
  color: inherit;
  font-size: 14px;
  padding-top: 14px;
  padding-bottom: 16px;
  border: none;
  box-shadow: none;
}
.rd-mobilemenu_ul ul ul a.active {
  background: #f5f5f5;
  color: #2d2d2d;
}
.rd-mobilemenu_ul ul ul a:hover {
  /* background: #e74e3e; */
  background: #f1c40f;
  color: #ffffff;
}
.rd-mobilemenu_ul:after {
  content: '';
  display: block;
  height: 20px;
}
.rd-mobilepanel {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  background: #ffffff;
  color: #000000;
  -moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  z-index: 99999991;
}
.rd-mobilepanel_title {
  position: fixed;
  padding-left: 10px;
  top: 4px;
  left: 56px;
  right: 56px;
  color: #000000;
  font-size: 24px;
  line-height: 48px;
  letter-spacing: 1.2px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.rd-mobilepanel_title small {
  display: none;
}
.rd-mobilepanel_toggle {
  position: fixed;
  top: 4px;
  left: 8px;
  width: 48px;
  height: 48px;
  background-color: #f7f7f7;
  border-color: transparent;
  outline: none;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.rd-mobilepanel_toggle span {
  position: relative;
  display: block;
  left: 50%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.rd-mobilepanel_toggle span:after,
.rd-mobilepanel_toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -8px;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.rd-mobilepanel_toggle span:after {
  top: 8px;
}
.rd-mobilepanel_toggle span:after,
.rd-mobilepanel_toggle span:before,
.rd-mobilepanel_toggle span {
  width: 24px;
  height: 4px;
  background-color: #000000;
  backface-visibility: hidden;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.rd-mobilepanel_toggle span:before,
.rd-mobilepanel_toggle span:after {
  -webkit-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0s;
  transition-delay: 0.3s, 0s;
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, transform;
}
.rd-mobilepanel_toggle.active span {
  transition: background .3s 0s ease;
  background: transparent;
}
.rd-mobilepanel_toggle.active span:before,
.rd-mobilepanel_toggle.active span:after {
  top: 0;
  -webkit-transition-delay: 0s, 0.3s;
  transition-delay: 0s, 0.3s;
}
.rd-mobilepanel_toggle.active span:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.rd-mobilepanel_toggle.active span:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
@media (max-width: 767px) {
  body {
    padding-top: 56px;
  }
  .rd-mobilemenu,
  .rd-mobilepanel {
    display: block;
  }
}
@media (max-width: 359px) {
  .rd-mobilepanel_title {
    font-size: 18px;
  }
}



.overhidden{ position:relative; padding-left:36px;}
.margin-bottom {
    margin-bottom: 20px;
}
.bg-white {
    background-color: #ffffff;
}

.b-shadow {
    box-shadow: 0px 2px 10px 3px rgba(99, 99, 99, .1);
    -moz-box-shadow: 0px 2px 10px 3px rgba(99, 99, 99, .1);
    -webkit-box-shadow: 0px 2px 10px 3px rgba(99, 99, 99, .1);
}
.smallPad{ padding-top:0px; padding-bottom:0px;height:100%!important;position:absolute; left:0;}

.panel-title {
    width: 38px;
    background: #DFDDDD;
    padding: 20px 11px;
    font-size: 16px;
    color: black;
}

.panel-form {
    margin: 30px 10px;

}
.panel-heading{
  height:50px;
  padding: 10px;
}

.redMark{
  color: red
}

.item{float:left; padding:3px 5px; border:1px solid #bfe9f7; margin:5px; cursor: pointer; border-radius: 4px;}
.item.active{background: #00a9e0; color:#fff; border-color: #00a9e0;}
.item:active,.item:hover{background: #00a9e0; color:#fff; border-color: #00a9e0;}
.shareHide{display: none}
.row-contain{margin-left:100px;}
.wxshare{margin: 0 20px}
.gray{color:#808080;margin: 5px 10px}
.green{color:green;margin: 5px 10px}
.icon-white{color: #fff}
.img-er{margin-right:10px}
.border-success {border:2px solid #13CC1D;background-color:#fff}
.border-default {border:2px solid #148cdc;background-color:#fff}
.btn-social {
    position: relative;
    padding-left: 66px;
    text-align: left;
}
.btn-social>:first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50px;
    line-height: 44px;
    font-size: 1.6em;
    text-align: center;
    background-color:#13CC1D;
}

.social-icon{margin-top:50px;display: inline-block}

#erweima{position: fixed;left: 300px;top: 79px;}
// .shareShow{display: block}
