.service_line1{
transform:rotate(40deg);
-ms-transform:rotate(40deg); 	/* IE 9 */
-moz-transform:rotate(40deg); 	/* Firefox */
-webkit-transform:rotate(40deg); /* Safari 和 Chrome */
-o-transform:rotate(40deg); 	/* Opera */
}