@import url(../css/font-awesome.css);
@import url(../css/material-icons.css);
@import url(//fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic,300,300italic);
@import url(//fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700,700italic);
@import url(//fonts.googleapis.com/css?family=Montserrat:700);
.search-form {
  display: inline-block;
  margin-top: 22px;
  padding: 5px 0px;
  position: relative;
  z-index: 50;
  width: 350px;
}
@media (max-width: 991px) {
  .search-form {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
}
.search-form form {
  position: relative;
}
.search-form_label {
  width: 100%;
  display: block;
  padding: 10px 0 10px 0;
  border: none;
  border-bottom: 2px solid #b7b7b7;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.search-form_input {
  outline: none;
  background-color: transparent;
  border: none;
  -webkit-appearance: none;
  border-radius: 0;
  vertical-align: baseline;
  box-shadow: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #b7b7b7;
  font-weight: 400;
  display: block;
  width: 100%;
  padding-right: 10px;
  font-size: 14px;
  line-height: 20px;
  height: 34px;
  /* Firefox 19+ */
  /* Firefox 18- */
}
.search-form_input::-webkit-input-placeholder {
  color: #b7b7b7;
  opacity: 1;
}
.search-form_input::-moz-placeholder {
  color: #b7b7b7;
  opacity: 1;
}
.search-form_input:-moz-placeholder {
  color: #b7b7b7;
  opacity: 1;
}
.search-form_input:-ms-input-placeholder {
  color: #b7b7b7;
  opacity: 1;
}
.search-form_submit {
  position: absolute;
  right: -15px;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: none;
  border: none;
  display: inline-block;
  padding: 0;
  outline: none;
  outline-offset: 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  width: 20px;
  height: 20px;
  background-image: url(../images/search.png);
  background-repeat: no-repeat;
  background-position: center;
}
.search-form_submit::-moz-focus-inner {
  border: none;
  padding: 0;
}
.search-form_submit:hover {
  background-image: url(../images/search-active.png);
}
.sform {
  position: relative;
}
.search-form_toggle {
  position: relative;
  right: 0;
  top: -8px;
  color: #e74e3e;
  font: 400 20px/43px 'FontAwesome';
  height: 43px;
  width: 43px;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  z-index: 999999999;
}
.search-form_toggle:before {
  content: '\f002';
}
.search-form_toggle:focus {
  color: #ffffff;
  background: #e74e3e;
}
.search-form_toggle:hover {
  color: #9b9b9b;
}
.search-form_toggle.active:before {
  content: '\f00d';
  color: #9b9b9b;
}
@media (max-width: 767px) {
  .search-form_toggle {
    position: fixed;
    right: 43px;
    top: 6px;
    margin-top: 0;
  }
}
.search-form + * {
  margin-top: 25px;
}
.search-form_liveout {
  text-align: left;
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  z-index: 1;
}
.lt-ie9 .search-form_liveout {
  filter: alpha(opacity=0);
}
.search-form_liveout .search_list {
  padding: 10px;
  list-style-type: none;
  font-size: 14px;
  line-height: 24px;
  background: #ffffff;
  font-weight: 500;
  -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
}
.search-form_liveout .search_list li + li {
  margin-top: 2px;
}
.search-form_liveout .search_list a {
  padding-left: 5px;
}
.search-form_liveout .search_list p {
  margin: 0;
}
.search-form_liveout .search_link {
  font-family: 'Noto Sans', sans-serif;
  display: block;
  padding: 5px 10px;
  background: #ffffff;
  color: #e74e3e;
}
.search-form_liveout .search_link .search_title {
  color: #9b9b9b;
  font: 700 13px/18px 'Noto Sans', sans-serif;
  text-transform: uppercase;
}
.search-form_liveout .search_link:hover {
  background: #e74e3e;
  color: #ffffff;
}
.search-form_liveout .search_link:hover .search_title {
  color: #ffffff;
}
.search-form_liveout .search_error {
  display: block;
  color: #e74e3e;
  background: #fafafa;
  padding: 10px 10px;
  overflow: hidden;
  font-size: 14px;
}
.search-form_liveout .match {
  display: none;
}
.search-form_liveout button {
  background: none;
  border: none;
  display: inline-block;
  padding: 0;
  outline: none;
  outline-offset: 0;
  cursor: pointer;
  -webkit-appearance: none;
  display: block;
  width: 100%;
  color: #7d1a0f;
  background: #fafafa;
  padding: 10px 10px;
}
.search-form_liveout button::-moz-focus-inner {
  border: none;
  padding: 0;
}
.search-form_liveout button:hover {
  background: #e74e3e;
  color: #ffffff;
}
input:focus + .search-form_liveout {
  opacity: 1;
  filter: alpha(opacity=100);
}
.lt-ie9 input:focus + .search-form_liveout {
  filter: alpha(opacity=100);
}
.search-form_liveout .tablet,
.mobile .search-form_liveout {
  display: none !important;
}
.search-frame,
.search-frame body {
  width: 100%;
  height: auto;
  background: transparent;
}
.search-frame,
.search-frame body,
.search-frame h1,
.search-frame h2,
.search-frame h3,
.search-frame h4,
.search-frame h5,
.search-frame h6,
.search-frame p,
.search-frame em {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: top;
}
.search-frame img {
  max-width: 100%;
  height: auto;
}
.search-frame a {
  font: inherit;
  color: inherit;
  text-decoration: none;
  -moz-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.search-frame a:active {
  background: transparent;
}
.search-frame a:focus {
  outline: none;
}
.search-frame h4 {
  color: #9b9b9b;
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: none;
}
@media (max-width: 979px) {
  .search-frame h4 {
    font-size: 16px;
    line-height: 16px;
  }
}
.search-frame h4 a:hover {
  color: #e74e3e;
}
.search-frame .search_list {
  color: #595959;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: top;
  list-style-type: none;
  counter-reset: num1;
}
.search-frame .search_list p {
  font: 300 15px/22px 'Noto Sans', sans-serif;
}
.search-frame .search_list .match {
  color: #e74e3e;
  font-size: 12px;
  display: block;
}
.search-frame .search_list li {
  padding-top: 20px;
  padding-left: 50px;
  position: relative;
  padding-bottom: 20px;
  -moz-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.search-frame .search_list li:hover {
  background: rgba(99, 205, 84, 0.1);
}
.lt-ie9 .search-frame .search_list li:hover {
  background: none;
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff63cd54', endColorstr='#ff63cd54');
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff63cd54', endColorstr='#ff63cd54');
  zoom: 1;
}
.search-frame .search_list li:before {
  content: counter(num1) '.';
  counter-increment: num1;
  position: absolute;
  left: 5px;
  top: 18px;
  width: 24px;
  height: 24px;
  font-size: 24px;
  font-family: 'Noto Sans', sans-serif;
  line-height: inherit;
  color: #9b9b9b;
}
@media (max-width: 979px) {
  .search-frame .search_list li:before {
    top: 13px;
  }
}
.search-frame .search_list li + li {
  border-top: 5px solid #e74e3e;
}
.search-frame .search {
  color: #e74e3e;
  font-weight: 700;
}
.search-frame .match {
  color: #9b9b9b;
  font-size: 12px;
  display: block;
}
.search-frame * + p {
  margin-top: 16px;
}
body.search_body {
  background: #1b1b1d;
}
.content {
  padding-top: 40px;
  padding-bottom: 40px;
}
.search_head {
  padding-bottom: 25px;
}
