header {
  background: #ffffff;
  background:#edf3f7;
}
header.mod-1 {
  background: url(../images/bg-head.jpg) no-repeat center;
  background-size: cover;
}

.page-header {
    padding-bottom: 10px;
    margin: 44px 0 22px;
    border-bottom: 1px solid #cbcbcb;
}

a:hover{
  text-decoration:none
}
ul,
ol {
    padding: 0;
    list-style: none;
    margin: 0;
}
ul li,
ol li {
    padding: 0;
    list-style: none;
    margin: 0;
}
ul li a,
ol li a {
    padding: 0;
    list-style: none;
    margin: 0;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
/*========================================================
                     CONTENT  Section
=========================================================*/
main {
   /* background: #f7f5ed; */
   backgroud:#edf3f7; 
}
main section.cargocn-mod-1{
  background: url(../images/cargocn_product.jpg) no-repeat center;
  background-size: cover;
} 
.stuck_container {
  background: transparent;
}
.isStuck {
  text-align: left;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.9);
}
.lt-ie9 .isStuck {
  background: none;
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#00000000');
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#00000000');
  zoom: 1;
}
.isStuck .navbar {
  padding-top: 6px;
}
.isStuck .navbar li a:after {
  height: 0;
}
.isStuck .navbar .dropdown-menu {
  margin-top: 25px;
}
.isStuck .navbar .dropdown-menu .dropdown-menu {
  margin-top: 0;
}
.isStuck .navbar-header {
  display: inline-block;
  float: none;
}
@media only screen and (max-width: 992px) {
  .isStuck {
    display: none !important;
  }
}
.isStuck .sf-menu > ul {
  top: 70px;
}
header.mod-1 .well-sm {
  padding-top: 40px;
}
@media (min-width: 992px) {
  header.mod-1 .well-sm {
    padding-top: 50px;
    padding-bottom: 39px;
  }
}
header .well-sm {
  padding-top: 20px;
}
@media (min-width: 992px) {
  header .well-sm {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.well-sm {
   padding: 0px; 
  border-radius: 3px;
}
/*==================     ToTop     ======================*/

.mobile .toTop,
.tablet .toTop {
  display: none!important;
}
.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.navbar {
  position: relative;
  min-height: 75px;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .navbar {
    border-radius: 0;
  }
}
.navbar-static-top {
  z-index: 1000;
}
@media (min-width: 768px) {
  .navbar-static-top {
    border-radius: 0;
  }
}
.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}
@media (min-width: 768px) {
  .navbar-fixed-top,
  .navbar-fixed-bottom {
    border-radius: 0;
  }
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}
.navbar-fixed-bottom {
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0;
}
.navbar-header {
  position: relative;
  z-index: 9999;
}
@media (min-width: 768px) {
  .navbar-header {
    float: left;
  }
}
.navbar-brand {
  line-height: 30px;
}
.navbar-brand a {
  font-family: 'Microsoft YaHei','Montserrat', sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 0.08em;
}
.navbar-brand a span {
  padding: 3px 12px 3px;
  border: 3px solid #ffffff;
  margin-right: 7px;
}

/* .navbar-brand a img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}  */
.navbar-brand a:hover,
.navbar-brand a:focus {
  color: #ffffff;
  text-decoration: none;
}
@media (min-width: 768px) {
  .navbar1 {
    margin: 0;
    margin-top: 22px;
    font-family: 'Microsoft YaHei','Noto Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
  }
  .navbar1> li {
    float: left;
  }
  .navbar1 > li > a {
    position: relative;
    letter-spacing: 0.08em;
    display: block;
    text-transform: uppercase;
  }
  .navbar1 > li > a:after {
    width: 0;
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
    -moz-transition: 0.35s all ease;
    -webkit-transition: 0.35s all ease;
    -o-transition: 0.35s all ease;
    transition: 0.35s all ease;
  }
  .navbar1 > li + li {
    margin-left: 25px;
  }
}
@media (min-width: 768px) and (max-width: 767px) {
  .navbar1 > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    font-style: italic;
  }
}
@media (min-width: 768px) {
  .navbar-left {
    float: left;
  }
  .navbar-right {
    float: right;
    margin-right: 0;
  }
  .navbar-right ~ .navbar-right {
    margin-right: 0;
  }
}
.navbar-default {
  background-color: transparent;
  border-color: rgba(255, 250, 250, 0);
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-default .navbar1 > li > a {
  color: #d3d1c8;
  font: 17px/34px Microsoft YaHei
}
.navbar-default .navbar1 > li > a:after {
  /* background: #e74e3e; */
  background:#f1c40f;
}
.navbar-default .navbar1 > li > a:focus {
  /* color: #d3d1c8; */
  color:#f1c40f;
}
.navbar-default .navbar1 > li > a:focus:after {
  width: 100%;
}
.navbar-default .navbar1 > li > a:hover {
 /* color: #e74e3e; */
  // color:#f1c40f;
  background-color: transparent;
}
.navbar-default .navbar1 > li > a:hover:after {
  width: 100%;
}
.navbar-default .navbar1 > .active > a,
.navbar-default .navbar1 > .sfHover > a,
.navbar-default .navbar1 > .active > a:hover,
.navbar-default .navbar1 > .sfHover > a:hover,
.navbar-default .navbar1 > .active > a:focus,
.navbar-default .navbar1 > .sfHover > a:focus {
  /* color: #e74e3e; */
  color:#f1c40f;
  background-color: transparent;
}
.navbar-default .navbar1 > .active > a:after,
.navbar-default .navbar1 > .sfHover > a:after,
.navbar-default .navbar1 > .active > a:hover:after,
.navbar-default .navbar1 > .sfHover > a:hover:after,
.navbar-default .navbar1 > .active > a:focus:after,
.navbar-default .navbar1 > .sfHover > a:focus:after {
  width: 100%;
}
.navbar-default .navbar1 > .disabled > a,
.navbar-default .navbar1 > .disabled > a:hover,
.navbar-default .navbar1 > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-inverse {
  background-color: #222222;
  border-color: #080808;
}
.navbar-inverse .navbar-brand {
  color: #898989;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-inverse .navbar-text {
  color: #898989;
}
.navbar-inverse .navbar1 > li > a {
  color: #898989;
}
.navbar-inverse .navbar1 > li > a:hover,
.navbar-inverse .navbar1 > li > a:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-inverse .navbar1 > .active > a,
.navbar-inverse .navbar1 > .sfHover > a,
.navbar-inverse .navbar1 > .active > a:hover,
.navbar-inverse .navbar1 > .sfHover > a:hover,
.navbar-inverse .navbar1 > .active > a:focus,
.navbar-inverse .navbar1 > .sfHover > a:focus {
  color: #ffffff;
  background-color: #080808;
}
.navbar-inverse .navbar1 > .disabled > a,
.navbar-inverse .navbar1 > .disabled > a:hover,
.navbar-inverse .navbar1 > .disabled > a:focus {
  color: #444444;
  background-color: transparent;
}
@media (max-width: 767px) {
  .navbar1 {
    display: none;
  }
}

.footer{
        padding: 30px 0;
        background: #252525
}
.footer-top{
    padding-top: 44px;
   // padding-bottom: 44px;
    clear:both;
}
.footer span{
   color: #e0e0e0;
}
.footer a{
    color: #b0b0b0;
}
.footer-bottom{
    padding-top: 44px;
    padding-bottom: 44px;
    color: #636363;
    text-align: center
}



.overhidden{ position:relative; padding-left:36px;}
.margin-bottom {
    margin-bottom: 20px;
}
.bg-white {
    background-color: #ffffff;
}

.b-shadow {
    box-shadow: 0px 2px 10px 3px rgba(99, 99, 99, .1);
    -moz-box-shadow: 0px 2px 10px 3px rgba(99, 99, 99, .1);
    -webkit-box-shadow: 0px 2px 10px 3px rgba(99, 99, 99, .1);
}
.smallPad{ padding-top:0px; padding-bottom:0px;height:100%!important;position:absolute; left:0;}

.panel-title {
    width: 38px;
    background: #DFDDDD;
    padding: 20px 11px;
    font-size: 16px;
    color: black;
}

.panel-form {
    margin: 30px 10px;

}
.panel-heading{
  height:50px;
  padding: 10px;
}

.redMark{
  color: red
}

.item{float:left; padding:3px 5px; border:1px solid #bfe9f7; margin:5px; cursor: pointer; border-radius: 4px;}
.item.active{background: #00a9e0; color:#fff; border-color: #00a9e0;}
.item:active,.item:hover{background: #00a9e0; color:#fff; border-color: #00a9e0;}
.shareHide{display: none}
.row-contain{margin-left:40px;}
.wxshare{margin: 10px 20px}
.gray{color:#808080;margin: 5px 10px}
.green{color:green;margin-right:10px}
.icon-white{color: #fff}
.img-er{margin-right:10px}
.border-success {border:2px solid #13CC1D;background-color:#fff}
.border-default {border:2px solid #148cdc;background-color:#fff}
.btn-social {
    position: relative;
    padding-left: 66px;
    text-align: left;
}
.btn-social>:first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50px;
    line-height: 44px;
    font-size: 1.6em;
    text-align: center;
    background-color:#13CC1D;
}

.social-icon{margin-top:50px;display: inline-block}

#erweima{position: fixed;left: 300px;top: 79px;}
